<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Booktree</title>
  <style>
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 50px;
    }
    body {
      margin-left: 10px;
    }
  </style>
</head>
<body>
<%= @body %>
</body>
</html>
